body {
  font-family: arial;
}

.button {
  position: absolute;
  z-index: 1;
  font-size: 80px;
  color: black;
  background: none;
  border: medium none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.description{
  display: flex;
  justify-content: left;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.box {
  position: absolute;
  z-index: 1;
  background: white;
}

.box1 {
  height: 100%;
  width: 5%;
  right: 0;
}

.box2 {
  width: 100%;
  height: 20vh;
  bottom: 0;
}

.box3 {
  width: 100%;
  height: 20%;
}

.box4 {
  height: 100%;
  width: 50%;
}

.text {
  z-index: 1;
  max-width: 40%;
  font-size: 20px;
  color: black;
  margin-bottom: 20vh;
  text-align: justify;
  margin-left: 20px;
}

.button:hover {
  cursor: pointer;

  &:not(.lock) {
    text-decoration: line-through;
  }
}

.selected {
  text-decoration: line-through;
}

.info {
  top: 20px;
  left: 20px;
  text-align: left;
}

.dentro {
  bottom: 20px;
  left: 20px;
}

.fuera {
  bottom: 20px;
  left: 30vw;
}

.lock {
  bottom: 20px;
  right: 20px;
}

::-moz-selection { /* Code for Firefox */
  color: none;
  background: none;
}

::selection {
  color: none;
  background: none;
}

@media screen and (max-width: 992px) {
  .box2 {
    height: 15vh;
  }

  .text {
    font-size: 20px;
    margin-bottom: 15vh;
  }

  .button {
    font-size: 60px;
  }

  .info {
    top: 10px;
    left: 10px;
    font-size: 60px;
  }
  
  .dentro {
    bottom: 20px;
    left: 10px;
  }
  
  .fuera {
    bottom: 20px;
    left: 40vw;
  }
  
  .lock {
    bottom: 20px;
    right: 10px;
  } 
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .box2 {
    height: 15vh;
  }

  .text {
    font-size: 10px;
    margin-bottom: 15vh;
  }

  .button {
    font-size: 30px;
  }

  .info {
    top: 10px;
    left: 10px;
    font-size: 40px;
    text-align: left;
  }
  
  .dentro {
    bottom: 10px;
    left: 10px;
  }
  
  .fuera {
    bottom: 10px;
    left: 45vw;
  }
  
  .lock {
    bottom: 10px;
    right: 10px;
  } 
}